@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* @font-face {
  font-family: 'NanumSquare';
  src: url("../assets/font//NanumSquareB.woff2") format("woff2"),
       url("../assets/font//NanumSquareB.woff") format("woff"),
       url("../assets/font//NanumSquareB.ttf") format("truetype");
  font-display: block;
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: NanumSquareB;
}

@media (max-width: 768px) {
  .table-auto td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    margin-right: 1rem;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --swiper-pagination-active-bullet-color: #4b5563; /* gray-600 */
  --swiper-pagination-inactive-bullet-color: #9ca3af; /* gray-400 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --swiper-pagination-active-bullet-color: #ef4444; /* red-500 */
    --swiper-pagination-inactive-bullet-color: #f3f4f6; /* gray-100 */
  }
}

/* Quill Editor Customizations */
.ql-snow {
  border-radius: 0.5rem; /* rounded-lg */
  overflow: hidden;
  border: 1px solid #e5e7eb; /* gray-200 */
}

.ql-toolbar.ql-snow {
  border: none;
  border-bottom: 1px solid #e5e7eb; /* gray-200 */
  background-color: #f9fafb; /* gray-50 */
}

.ql-container.ql-snow {
  border: none;
  background-color: #ffffff; /* white */
}


/* Dark mode for Quill editor */
.dark .ql-snow {
    border-color: #374151; /* gray-700 */
}

.dark .ql-toolbar.ql-snow {
    background-color: #1f2937; /* gray-800 */
    border-bottom-color: #374151; /* gray-700 */
}

.dark .ql-toolbar .ql-picker-label,
.dark .ql-toolbar .ql-picker-item {
    color: #d1d5db; /* gray-300 */
}

.dark .ql-toolbar .ql-stroke {
    stroke: #d1d5db; /* gray-300 */
}

.dark .ql-picker-options {
    background-color: #374151; /* gray-700 */
    border-color: #4a5568; /* gray-600 */
    color: #d1d5db; /* gray-300 */
}

.dark .ql-container.ql-snow {
    background-color: #111827; /* gray-900 */
    color: #d1d5db; /* gray-300 */
}

.dark .ql-editor::before {
    color: #6b7280; /* gray-500 */
}