@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* @font-face {
  font-family: 'NanumSquare';
  src: url("../assets/font//NanumSquareB.woff2") format("woff2"),
       url("../assets/font//NanumSquareB.woff") format("woff"),
       url("../assets/font//NanumSquareB.ttf") format("truetype");
  font-display: block;
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: NanumSquareB;
}

@media (max-width: 768px) {
  .table-auto td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    margin-right: 1rem;
  }
}
